__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/
ENV/
env.bak/
venv.bak/

.env
.env.*
!.env.example

.vscode/
.idea/

.DS_Store
Thumbs.db
desktop.ini

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/


.ipynb_checkpoints/


*.log
*.tmp
*.temp

tempCodeRunnerFile.py

*.pth
*.pt
*.ckpt
*.safetensors
*.onnx
*.bin

*.npy
*.npz
*.ply
*.obj
*.mtl
*.glb
*.gltf

ScreenCapture_*.png
ScreenCamera_*.json


build/
dist/
*.egg-info/

debug/
experiments/
runs/
results/
Depth-Anything-V2/